/* Style global */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Section d'introduction */
#introduction {
    text-align: center;
    padding: 20px;
    background-color: #0078d7;
    color: white;
}

/* Section du jeu */
#game {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #0078d7;
}

input {
    padding: 10px;
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    color: white;
    background-color: #0078d7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #005bb5;
}

/* Section de fin */
#endGame {
    text-align: center;
    padding: 20px;
    background-color: #28a745;
    color: white;
}